button,
span {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

:root {
  --orange: #fc540c;
  --faded-orange: rgba(252, 84, 12, 0.4);
}

button:hover {
  background-color: #bbaabb;
}

h3 {
  font-variant: small-caps;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #4c443c;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  border: solid 0px transparent;
  border-bottom: solid #fc540c 5px;
  color: #fc540c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.input-accent {
  position: relative;
  height: 30px;
  margin-left: 10%;
  background-color: rgba(252, 84, 12, 0.4);
  border-bottom: 2px solid rgba(252, 84, 12, 1);
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  z-index: 1;
}

.select-accent {
  position: relative;
  height: 30px;
  margin-left: 10%;
  background-color: rgba(252, 84, 12, 0.4);
  border-bottom: 2px solid rgba(252, 84, 12, 1);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  z-index: 1;
}

input {
  position: relative;
  text-align: center;
  vertical-align: middle;
  border: 0;
  padding: 5%;
  background-color: transparent;
  z-index: 2;
  height: 90%;
  width: 90%;
}

button {
  border: 0;
  padding: 0;
  height: 30px;
  width: 100%;
  background-color: var(--faded-orange);
}

button:hover {
  background-color: var(--orange);
}

button:active {
  background-color: #a18a80;
}

h3,
h6,
div,
span,
input,
select {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.column-content {
  padding: 5px;
}
